.container {
  width: 100%;
  height: 100%;
  position: relative;

  .wrapper {
    width: 100%;
    padding: 10rem 0;
    text-align: center;

    .content {
      margin-top: 2rem;
      font-size: 1.6rem;
    }
  }
}
