@import "../../../styles/reponsiveness.scss";

.container {
  width: 100%;
  padding: 0 3rem;
  background-color: var(--background-color);

  @include respond(mobileMedium) {
    transform: translateY(-0.2rem);
  }

  .title {
    font-size: 3.4rem;
    margin-bottom: 2rem;

    @include respond(tablet) {
      font-size: 4.2rem;
    }

    @include respond(hugeScreen) {
      font-size: 5.4rem;
    }
  }

  .postsContainer {
    width: 100%;

    & > *:last-child {
      padding-bottom: 4rem;
    }
  }
}
