.container {
  width: 100%;
  padding: 0 3rem;
  background-color: var(--background-color);

  .title {
    font-size: 3.4rem;
    margin-bottom: 2rem;
  }

  .postsContainer {
    width: 100%;

    & > *:last-child {
      padding-bottom: 4rem;
    }
  }
}
