.container {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  width: fit-content;
  height: fit-content;
  border-radius: 1rem;
  padding: 0.6rem 0.8rem;
  background-color: var(--primary-color);
}
