.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 3rem;
  padding-bottom: 2rem;
  flex-direction: column;
  transform: translateY(-0.2rem);
  background-color: var(--background-color);

  .title {
    font-size: 3.4rem;
    margin-bottom: 2rem;
  }

  .projectsContainer {
    & > *:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
}
