.container {
  width: 100%;
  height: 100%;
  padding: 0 3rem;
  padding-bottom: 2rem;
  transform: translateY(-0.2rem);
  background-color: var(--background-color);

  .title {
    font-size: 3.4rem;
    margin-bottom: 2rem;
  }
}
