.container {
  width: 21rem;
  height: 21rem;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);

  .imageContainer {
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
  }
}
