.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;

  .title {
    font-weight: 700;
    font-size: 8.2rem;
    transform: translateX(-7rem) !important;

    &_sub {
      font-weight: 700;
      font-size: 3.6rem;

      &_dot {
        color: var(--accent-color);
      }
    }
  }
}
