@import "../../styles/responsiveManager.scss";

.link {
  text-decoration: none;

  .container {
    display: flex;
    cursor: pointer;
    font-size: 1.6rem;
    position: relative;
    margin-bottom: 12rem;
    color: var(--text-color);

    @include respond(mobileLarge) {
      flex-direction: column;
    }

    @include respond(mobileSmall) {
      flex-direction: column;
    }

    &:hover .readmore {
      opacity: 1;
    }

    .readmore {
      opacity: 0;
      font-size: 6rem;
      font-weight: 900;
      position: absolute;
      transition: all 0.4s;
      color: var(--text-color);
      text-transform: uppercase;

      &::before {
        content: "";
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: var(--primary-color);
      }

      @include respond(mobileLarge) {
        opacity: 0 !important;
      }

      @include respond(mobileSmall) {
        opacity: 0 !important;
      }
    }

    .imageContainer {
      width: 50rem;
      height: 15rem;
      position: relative;

      @include respond(mobileLarge) {
        margin: 0 auto;
      }

      &__image {
        width: 100% !important;
      }
    }

    .content {
      @include respond(mobileLarge) {
        text-align: center;
        margin: 0 auto !important;
      }

      @include respond(mobileSmall) {
        text-align: center;
        margin: 0 auto !important;
      }

      .title {
        font-size: 4rem;
        font-weight: 900;
        margin-bottom: 2rem;
      }

      .about {
        font-weight: 300;
        font-size: 1.7rem;

        @include respond(mobileLarge) {
          margin-bottom: 3rem;
        }
      }
    }
  }
}
