.container {
  display: flex;
  cursor: pointer;
  font-size: 1.6rem;
  margin-bottom: 12rem;
  color: var(--text-color);

  .imageContainer {
    width: 50rem;
    height: 15rem;
    position: relative;

    &__image {
      width: 100% !important;
    }
  }

  .content {
    .title {
      font-size: 4rem;
      font-weight: 900;
      margin-bottom: 2rem;
    }

    .about {
      font-weight: 300;
      font-size: 1.7rem;
    }
  }
}
