@import "../../../styles/mixins.scss";
@import "../../../styles/reponsiveness.scss";

.post {
  padding-bottom: 2rem;
  background-color: var(--background-color);

  .title {
    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 0.6rem;

    &:hover {
      color: var(--primary-color);
    }

    @include respond(tablet) {
      font-size: 2rem;
    }

    @include respond(hugeScreen) {
      font-size: 3.2rem;
    }
  }

  .description {
    font-weight: 300;

    @include respond(tablet) {
      font-size: 1.7rem;
    }

    @include respond(hugeScreen) {
      font-size: 2rem;
    }
  }

  .readmore {
    @include make-special;

    @include respond(tablet) {
      font-size: 1.7rem;
    }

    @include respond(hugeScreen) {
      font-size: 2rem;
    }
  }
}
