.container {
  width: 100%;
  padding-top: 1rem;
  background-color: var(--background-color);

  .links {
    display: flex;
    justify-content: flex-end;

    & > *:not(:last-child) {
      margin-right: 2rem;
    }

    & > *:last-child {
      margin-right: 1rem;
    }

    .link {
      font-weight: 700;
      font-size: 1.2rem;
      position: relative;
      text-transform: lowercase;
      transition: all 0.3s ease-in-out;
      border-bottom: 0.1rem solid transparent;

      &:hover {
        cursor: pointer;
        border-bottom: 0.1rem solid var(--primary-color);
      }
    }
  }
}
