.container {
  top: 0;
  left: -100%;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  padding-left: 10%;
  transition: all 0.4s;
  background-color: var(--accent-color);

  .menuHandle {
    left: 0;
    top: 50%;
    cursor: pointer;
    position: fixed;
    font-size: 2rem;
    transition: all 0.4s;
    color: var(--text-color);
    transform: rotate(-90deg);
  }

  .socialIcons {
    left: 45%;
    bottom: 1rem;
    display: flex;
    position: absolute;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.show {
  left: -10% !important;
}

.showMenu {
  left: 88%;
}
