.container {
  top: 0;
  left: -100%;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  padding-left: 10%;
  transition: all 0.4s;
  background-color: var(--accent-color);

  .main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .list {
      display: flex;
      list-style: none;
      flex-direction: column;

      & > *:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &__item {
        font-size: 4.2rem;
        font-weight: 700;
        position: relative;
        text-decoration: none;
        color: var(--text-color);
        transition: all 0.3s ease;

        &::before {
          top: 50%;
          left: 0;
          content: '';
          width: 10%;
          height: 50%;
          z-index: -1;
          position: absolute;
          transition: all 0.3s ease;
          background-color: var(--background-color);
        }

        &:hover {
          transform: translateX(2rem);

          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  .menuHandle {
    left: 0;
    top: 50%;
    cursor: pointer;
    position: fixed;
    font-size: 2rem;
    transition: all 0.4s;
    color: var(--text-color);
    transform: rotate(-90deg);
  }

  .socialIcons {
    left: 45%;
    bottom: 1rem;
    display: flex;
    position: absolute;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.show {
  left: -10% !important;
}

.showMenu {
  left: 88% !important;
}
