@import "../../styles/responsiveManager.scss";

.container {
  width: 100%;
  padding: 10rem;
  display: flex;
  padding-top: 8rem;
  align-items: center;
  flex-direction: column;

  @include respond(mobileLarge) {
    padding: 2rem;
  }
}
