@keyframes moveBackgroundNormal {
  0% {
    background-position: 0% 0%;
  }
  5% {
    color: transparent;
  }
  25% {
    background-position-x: 50%;
    background-position-y: 50%;
  }
  50% {
    background-position-x: 25%;
    background-position-y: 25%;
  }
  75% {
    background-position-x: 100%;
    background-position-y: 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes moveBodyBackgroundNormal {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position-x: 50%;
    background-position-y: 50%;
  }
  50% {
    background-position-x: 25%;
    background-position-y: 25%;
  }
  75% {
    background-position-x: 100%;
    background-position-y: 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
