:root {
  --text-color: #ffffff;
  --accent-color: #ef476f;
  --background-color: #10002b;
}

body {
  margin: 0;
  padding: 1rem;
  background-color: #ef476f;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
