:root {
  --background-color: #14171a;
  --primary-color: #ffba08;
  --font-color: #f8f9fa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

body {
  color: var(--font-color);
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
