@import "./responsiveManager.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(laptopLarge) {
    font-size: 50%;
  }

  @include respond(laptop) {
    font-size: 40%;
  }

  @include respond(mobileLarge) {
    font-size: 35%;
  }
}

body {
  overscroll-behavior-y: none;
  font-family: "Lato", sans-serif;
  background-color: var(--background);

  // Grainy Effect
  &::after {
    left: -50%;
    top: -100%;
    transform: translate(-50%, -50%);
    content: "";
    width: 300vw;
    z-index: -10;
    height: 300vh;
    opacity: 0.2;
    position: fixed;
    animation: grain 8s steps(10) infinite;
    background-image: url("/images/noise.png");
  }
}

:root {
  --background: #16191c;

  --text-color: #fff;
  --primary-color: #e63946;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
