@import "./responsiveManager.scss";

.container {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  position: absolute;

  .headcheck {
    top: 0%;
    left: 0;
    width: 100%;
    height: 20%;
    position: absolute;
    background-color: var(--background);
  }
}

// Main Header
.header {
  // Make the page permanantly on top
  top: 0;
  left: 0;
  position: relative;

  // General Layout
  width: 100vw;
  height: 100vh;
  margin-bottom: 10rem;

  // Align the items
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .greeting {
    display: flex;
    align-items: center;
    margin-right: 22rem;
    justify-content: center;

    @include respond(mobileLarge) {
      margin: 0 auto;
      text-align: center;
      flex-direction: column;
    }

    @include respond(mobileSmall) {
      transform: translateX(-5rem) !important;
    }

    .imageContainer {
      width: 60rem;
      height: 60rem;
      position: relative;

      &__image {
        width: 100% !important;
      }
    }

    .hi {
      font-size: 54rem;
      font-weight: 900;
      color: var(--text-color);
      transform: translateY(4rem);

      @include respond(tabletPortrait) {
        font-size: 45rem;
      }

      @include respond(mobileLarge) {
        font-size: 38rem;
        transform: translateY(-8rem);
      }

      @include respond(mobileSmall) {
        font-size: 30rem;
      }
    }
  }

  .name {
    font-size: 5rem;
    position: relative;
    letter-spacing: 1.27em;
    color: var(--text-color);

    @include respond(tabletPortrait) {
      margin-left: 5rem;
    }

    @include respond(mobileLarge) {
      font-size: 4rem;
      text-align: center;
      transform: translateY(-8rem) !important;
    }

    @include respond(mobileSmall) {
      font-size: 4rem;
      letter-spacing: 1.1em;
    }
  }
}

// About part of the page
.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    @include respond(tabletPortrait) {
      text-align: center;
    }

    .abilities {
      cursor: pointer;
      position: relative;
      display: inline-block;
      transition: transform 0.3s;
      color: var(--primary-color);

      &::before {
        left: 0;
        top: 50%;
        content: "";
        z-index: -1;
        width: 10%;
        height: 40%;
        position: absolute;
        transition: all 0.3s;
        display: inline-block;
        background-color: var(--text-color);
      }

      &:hover {
        transform: translateY(-1rem);
      }

      &:hover::before {
        width: 100%;
      }
    }

    .paragraph {
      font-size: 15rem;
      font-weight: 900;
      color: var(--text-color);

      @include respond(laptop) {
        font-size: 12rem;
      }

      @include respond(mobileLarge) {
        font-size: 8rem;
      }
    }
  }
}

// Projects
.projects {
  width: 100vw !important;
  height: 100vh !important;
  position: relative;

  .projectTitle {
    top: 50%;
    left: 50%;
    z-index: 100;
    cursor: pointer;
    font-size: 25rem;
    position: absolute;
    color: var(--text-color);
    transition: transfrom 0.3s;
    transform: translate(-50%, -50%);

    @include respond(mobileLarge) {
      font-size: 15rem;
    }

    &::before {
      left: 0;
      top: 50%;
      content: "";
      z-index: -1;
      width: 10%;
      height: 40%;
      position: absolute;
      transition: all 0.3s;
      display: inline-block;
      background-color: var(--primary-color);
    }

    &:hover::before {
      width: 100%;
    }
  }
}

// Contact
.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  flex-direction: column;
  justify-content: center;

  .content {
    @include respond(tabletPortrait) {
      text-align: center;
    }

    &__para {
      font-size: 20rem;
      font-weight: 900;
      color: var(--text-color);
      text-transform: uppercase;

      @include respond(laptop) {
        font-size: 16rem;
      }

      @include respond(mobileLarge) {
        font-size: 10rem;
      }

      &_link {
        position: relative;
        text-decoration: none;
        color: var(--primary-color);

        &::before {
          left: 0;
          top: 50%;
          content: "";
          z-index: -1;
          width: 10%;
          height: 40%;
          position: absolute;
          transition: all 0.3s;
          display: inline-block;
          background-color: var(--text-color);
        }

        &:hover::before {
          width: 100%;
        }
      }
    }
  }

  &__links {
    display: flex;
    margin-top: 8rem;

    &_link {
      font-size: 2rem;
      font-weight: 300;
      margin-right: 5rem;
      text-decoration: none;
      color: var(--primary-color);
    }
  }
}
