.header {
  width: 100vw;
  height: 100vh;
  border: 6rem solid white;
  background-color: var(--background);

  // Align the items
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .greeting {
    display: flex;
    align-items: center;
    margin-right: 22rem;
    justify-content: center;

    .imageContainer {
      width: 60rem;
      height: 60rem;
      position: relative;

      &__image {
        width: 100% !important;
      }
    }

    .hi {
      font-size: 54rem;
      font-weight: 900;
      color: var(--text-color);
      transform: translateY(4rem);
    }
  }

  .name {
    font-size: 5rem;
    position: relative;
    letter-spacing: 1.27em;
    color: var(--text-color);
  }
}
