@import "./animations.scss";

// Mixins
@mixin make-special {
  color: transparent;
  display: inline-block;
  background-clip: text;
  background-size: 400% 400%;
  background-image: var(--background-gradient);
  animation: moveBodyBackgroundNormal 8s ease infinite;
}
