.browser {
  width: 21rem;
  height: 12rem;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-radius: 0.6rem;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(230, 230, 230);

  .blackout {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .topBar {
    width: 100%;
    display: flex;
    height: 2.2rem;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    background-color: rgb(142, 142, 147);

    .buttons {
      width: 20%;
      height: 100%;
      display: flex;
      margin-left: 1rem;
      align-items: center;
      justify-content: space-between;

      &_btn {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.2));
      }
    }

    .urlBar {
      width: 70%;
      height: 1rem;
      border-radius: 0.5rem;
      background-color: white;
    }
  }

  .content {
    width: 95%;
    height: 72%;
    position: relative;
    margin-bottom: 0.6rem;
    background-color: white;

    .image {
      object-fit: cover;
    }
  }
}

.red {
  background-color: rgb(255, 59, 48);
}
.orange {
  background-color: rgb(255, 149, 0);
}
.green {
  background-color: rgb(40, 205, 65);
}
